


## ---------------- ##
##   WWise stuff    ##
## ---------------- ##

# project stuff
Wwise/.backup/
Wwise/.cache/
Wwise/*.prof
Wwise/*.validationcache
Wwise/**/*.akd



## --------------- ##
## Blender Stuff   ##
## --------------- ##
*.blend1
*.blend1.meta



## --------------- ##
## Substance Stuff ##
## --------------- ##
*_autosave_*.spp
*.painter_lock


## --------------- ##
## Reaper          ##
## --------------- ##
*.rpp-bak
*.rpp-bak-UNDO

